
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gokadzev.capacitormusiccontrols.capacitormusiccontrolsplugin">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
      <service android:name="com.gokadzev.capacitormusiccontrols.CMCNotifyKiller" />
    </application>
  </manifest>
  